.homeboxs {
    padding: 15px;
    .container {
        .boxs {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 20px;
            .box {
                cursor: default;
                overflow: hidden;
                width: 200px;
                background: white;
                box-shadow: 2px 4px 10px 1px rgb(221 221 221 / 47%);
                padding: 15px 15px 30px;
                display: flex;
                justify-content: space-between;
                border-radius: 10px;
                transition: 0.3s;
                &:hover {
                    transform: scale(1.1);
                }
                h2, .amount {
                    font-size: 25px;
                    opacity: 0.8;
                    margin-bottom: 7px;
                }
                .link {
                    position: absolute;
                }
            }
        }
    }
}